# ======================
# Secrets & Environment
# ======================
.env
*.env
docker/.env
*.keystore
*.jks

# ======================
# Docker runtime data
# ======================
data/
models/
voices/
outputs/
pretrained_models/

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/
.venv/
venv/

# ======================
# Logs & temp
# ======================
*.log
*.tmp
*.swp
*.swo
*.lock

# ======================
# Gradio
# ======================
*.gradio*

# ======================
# OS junk
# ======================
.DS_Store
Thumbs.db

# ======================
# IDEs
# ======================
.vscode/
.idea/
*.iml
*.ipr
*.iws

# ======================
# Flutter (client)
# ======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/
build/
generated_plugin_registrant.dart

flutter_app/android
flutter_app/.metadata
flutter_app/.idea
flutter_app/.vscode
flutter_app/.gitignore
flutter_app/analysis_options.yaml
flutter_app/README.md
flutter_app/Web
flutter_app/test/widget_test.dart
flutter_app/assets/images

# ======================
# Android / iOS
# ======================
**/android/.gradle/
**/android/.idea/
**/android/*.iml
**/android/app/debug
**/android/app/profile
**/android/app/release

**/ios/Pods/
**/ios/Podfile.lock
**/ios/Flutter/ephemeral/

# ======================
# macOS / Windows Flutter
# ======================
**/macos/Pods/
**/macos/Podfile.lock
**/windows/flutter/generated_plugin_registrant.cc
